@charset "UTF-8";

body{
  font-family: 'Microsoft YaHei', 微软雅黑;
  font-size: 12px;
  margin: 10px;
}

.nav-contents{
    margin-top: 10px;
}

.nav-content{
    display: none;
}
.nav-content:first-child{
    display: block;
}

.urls{
    margin: 10px 0;
}


.url{
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background: #dff0d8;
}

.url div{
    margin: 5px 0;
}

.url input{
    width: 100%;
}

.url textarea{
    width: 100%;
    height: 100px;
}

.logs{
    border: 1px solid #f2dede;
    border-radius: 4px;
    height: 500px;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 5px;
}